@charset "utf-8";

body {
    font-family: 'Microsoft Yahei';
    margin:0 auto;
    border: 1px solid rgba(0,0,0,0);
    width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
}

#header {
    position: fixed;
    background-color: rgb(253, 250, 244);
    width: 1000px;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
}

#mainpart {
    margin-top: 130px;
}

.books {
    padding-left:100px;
    padding-right:100px;
    margin-top: 30px;
    padding-top: 30px;
}

#log_in_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#log_in {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(1, 76, 53);
    background-color: rgb(219, 254, 242);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 400px;
    height: 310px;
}

#regist_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;  
}

#regist {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(1, 68, 76);
    background-color: rgb(219, 249, 254);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 400px;
    height: 360px;
}

#change_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;  
}

#change {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(1, 76, 62);
    background-color: rgb(219, 254, 246);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 400px;
    height: 340px;
}

#change_book_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px; 
    display: none;
}


#change_book {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(1, 76, 62);
    background-color: rgb(219, 254, 246);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 400px;
    height: 510px;
}


#insert_book_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px; 
    display: none;
}

#insert_book {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(1, 68, 76);
    background-color: rgb(219, 249, 254);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 400px;
    height: 500px;
}

#log_out_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#logging_out {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(32, 137, 250);
    background-color: rgb(228, 236, 253);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 200px;
    height: 100px;
}

#time_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#time {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(32, 137, 250);
    background-color: rgb(228, 236, 253);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 200px;
    height: 100px;
}

#user_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#user {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(32, 137, 250);
    background-color: rgb(228, 236, 253);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 200px;
    height: 100px;
}

#book_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#book {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(32, 137, 250);
    background-color: rgb(228, 236, 253);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 200px;
    height: 100px;
}

#black_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#black {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(32, 137, 250);
    background-color: rgb(228, 236, 253);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 200px;
    height: 100px;
}

#br_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#br {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(126, 32, 250);
    background-color: rgb(243, 228, 253);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 200px;
    height: 200px;
}

#info_box {
    position: fixed;
    width: 1000px;
    margin-top: 100px;
    display: none;
}

#info {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(247, 255, 105);
    background-color: rgb(251, 255, 222);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 300px;
    height: 280px;
}

#detail_box {
    width: 1000px;
    display: none;
}

#detail {
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(247, 255, 105);
    background-color: rgb(251, 255, 222);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 300px;
}

.note {
    font-size: small;
    text-align: right;
}

a:link {
    color: rgb(45, 71, 138);
}

a:visited {
    color: rgb(126, 45, 138);
}

a:hover {
    color: rgba(57, 45, 138, 0.5);
}

a:active {
    color: rgba(45, 101, 138, 0.3);
}

.do {
    text-align: middle;
}

input[type=submit] {
    padding: 5px 15px; 
    background: #f6fcfc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

button {
    padding: 5px 15px; 
    background: #f6fcfc; 
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

table {
    background-color: rgb(226, 228, 249);
    width: 1000px;
    text-align: center;
    padding-bottom: 20px;
}

caption {
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
}

th {
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
}

td {
    width: 250px;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}